html {
  font-size: 10px;
}

:root {
  --width-container: 1000px;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

.container {
  max-width: var(--width-container);
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
}

@import './products';
@import './basket';
